:root {
   --primary-color:#6c63ff;
   --button-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
   --secondary-color:#f5f2fe;
   --heading-font-family: "Playfair Display", serif;
   --default-font-family: "Poppins", sans-serif;
}

body {
   font-family: var(--default-font-family);
}
h1,h2,h3,h4 {
   font-family: var(--heading-font-family);
   font-weight: 700;
  
}
h1{
   font-size: 74px;
   line-height: 80px;
}
h2 {
   font-size: 64px;
} 
h4 {
   font-size: 48px;
}

.hero {
   text-align: center;
   padding: 20px 0;
   margin-bottom: 20px;
   background-color: var(--secondary-color);
}

.about-section {
   font-size: 18px;
   font-weight: bold;
}
.container {
   margin: 0 auto;
   /* max-width: 1140px; */
}
.content-container {
   padding: 120px 20px;
}
.content {
   margin: 20px;
}
p {
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
}

.project-link {
   margin: 0 20px;
}
.links {
   display: flex;
   justify-content: center;
}
.link-button {
   display: block;
   color: #fff;
   background-color: var(--primary-color);
   font-size: 16px;
   border-radius: 5px;
   padding: 15px;
   margin: 10px;
   box-shadow: var(--button-shadow);
   text-decoration: none;
}
.link-button:hover {
   color: var(--primary-color);
   background-color:#fff ;
   border: 1px solid var(--primary-color);
}
.about {
   display: flex;
   justify-content: center;
}
.about-text {
   margin: 20px;
   padding: 10px;
}
.email-link {
   display: flex;
   justify-content: center;
   text-decoration: none;
   color: var(--primary-color);
    font-size: 28px;
}
.email-link:hover {
   text-decoration: underline;
}
.subtytle {
   opacity: 0.7;
}


nav {
   padding: 20px 0;
}
ul {
   list-style-type: none;
}
nav li {
   display: inline;
}
li a {
   text-decoration: none;
   color:#000;
   transition: all 100ms ease-in-out;
}
li a:hover,.active {
   color: var(--primary-color);
} 
.logo {
   max-height: 60px;
}
.project-button {
   font-size: 16px;
   border-radius: 5px;
   padding: 15px;
   margin: 10px;
   box-shadow: var(--button-shadow);
   background-color: #fff;
   color: var(--primary-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
}
.project-button:hover {
   color: #000;
}
footer {
   padding: 20px;
}
.contact-box {
   background-color: var(--secondary-color);
   padding: 20px 120px;
}

.email-link {
color:#000;
text-decoration: none;
font-size: 24px;
}
.email-link:hover {
color: var(--primary-color);
text-decoration: none;
}
.social-links a {
   font-size: 18px;
   margin: 0 20px;
   color: var(--primary-color);
   background-color: var(--secondary-color);
   padding: 10px 15px;
   border-radius: 50%;
   transition: all 100ms ease-in-out;
}
.social-links a:hover {
color:#fff;
background-color: var(--primary-color);
}
.source-link {
   font-size: 16px;
}

@media(max-width:990px) {
   .container {
      padding: 0px;
   }
   .header-section {
      font-size: 48px;
      line-height: 1.5;
   }
   h2 {
      font-size: 54px;
   }
   .contact-box {
      padding: 30px 60px;
   }
}


